.button {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-background-color: transparent;
    -fx-scale-y: 1.05;
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-background-color: transparent;
    -fx-scale-y: 1.0;

}

.button:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-background-color: transparent;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

/* Sunflower CSS*/

.sidebar-button-1 {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-background-image: url("../sidebar_sunflower.png");
    -fx-scale-y: 1.05;
}

.sidebar-button-1:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-border-color: orange ;
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 1.0;
}

.sidebar-button-1:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-border-color: green ;
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

/* Peashooter CSS*/

.sidebar-button-2 {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-background-image: url("../sidebar_peashooter.png");
    -fx-scale-y: 1.05;
}

.sidebar-button-2:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-border-color: orange ;
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 1.0;
}

.sidebar-button-2:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-border-color: green ;
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

/*Walnut  CSS*/

.sidebar-button-3 {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-background-image: url("../sidebar_walnut.png");
    -fx-scale-y: 1.05;
}

.sidebar-button-3:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-border-color: orange ;
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 1.0;
}

.sidebar-button-3:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-border-color: green ;
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

/*Bomb  CSS*/

.sidebar-button-4 {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-background-image: url("../sidebar_potato.png");
    -fx-scale-y: 1.05;
}

.sidebar-button-4:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-border-color: orange ;
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 1.0;
}

.sidebar-button-4:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-border-color: green ;
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

/*Ingame Menu  CSS*/

.sidebar-button-5 {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-background-image: url("../ingame_menu.png");
    -fx-scale-y: 1.05;
}

.sidebar-button-5:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-border-color: orange ;
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 1.0;
}

.sidebar-button-5:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-border-color: green ;
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

/*Shovel  CSS*/

.sidebar-button-6 {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-background-image: url("../shovel.png");
    -fx-scale-y: 1.05;
}

.sidebar-button-6:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-border-color: orange ;
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 1.0;
}

.sidebar-button-6:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-border-color: green ;
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

/*Suncounter  CSS*/

.sidebar-button-7 {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-background-image: url("../suncounter.jpg");
    -fx-scale-y: 1.05;
}

.sidebar-button-7:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 1.0;
}

.sidebar-button-7:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

/*Menu StackPane  CSS*/

.menu_panel {
    -fx-background-image: url("../menu_panel.png");
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    /*-fx-scale-y: 1.05;*/
}

/*Save_Game  CSS*/

.savegame-button {
    
    -fx-background-image: url("../save_game.png");
    -fx-scale-y: 1.05;
}

.savegame-button:hover {
    /*-fx-border-color: orange ;*/
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 0.95;
}

.savegame-button:pressed {
    /*-fx-border-color: green ;*/
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 0.90;
    -fx-scale-x: 0.90;
}

/*Restart_Game  CSS*/

.restart-button {
    -fx-background-image: url("../restart_level.png");
    -fx-scale-y: 1.05;
}

.restart-button:hover {
    /*-fx-border-color: orange ;*/
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 0.95;
}

.restart-button:pressed {
    /*-fx-border-color: green ;*/
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 0.90;
    -fx-scale-x: 0.90;
}

/*Exit_To_Menu  CSS*/

.exit-button {
    -fx-background-image: url("../exit_to_menu.png");
    -fx-scale-y: 1.05;
}

.exit-button:hover {
    /*-fx-border-color: orange ;*/
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 0.95;
}

.exit-button:pressed {
    /*-fx-border-color: green ;*/
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 0.90;
    -fx-scale-x: 0.90;
}

/*Return To Game  CSS*/

.return-button {
    -fx-background-image: url("../back_to_game.png");
    -fx-scale-y: 1.05;
}

.return-button:hover {
    /*-fx-border-color: orange ;*/
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 0.95;
}

.return-button:pressed {
    /*-fx-border-color: green ;*/
    -fx-border-width: 5 ;
    /*-fx-background-color: transparent;*/
    -fx-scale-y: 0.90;
    -fx-scale-x: 0.90;
}